<app-modal [modalName]="'deleteBoardModal'">
    <h2 class="title">
        Delete this board
    </h2>

    <p class="subtitle">
        Are you sure you want to delete the ‘{{currentBoard.name}}’ board? This action will remove all columns and tasks and cannot be reversed.
    </p>

    <div class="btn__wrapper">
        <app-button [buttonClass]="'delete'" (click)="deleteBoard()">
            Delete
        </app-button>
        <app-button [buttonClass]="'secondary'" (click)="closeModal()">
            Cancel
        </app-button>
    </div>
</app-modal>