.wrapper {
    position: relative;
    width: 100%;
    .title {
        color: var(--color);
        font-size: 18px;
        font-weight: 700; 
        word-wrap: break-word;
        padding-right: 10px;
    }
    .subtitle {
        margin: 24px 0;
        color: var(--medium-grey);
        font-size: 13px;
        font-weight: 500;
        line-height: 23px; 
    }
    .input__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        
        label {
            margin-bottom: 8px;
            color: var(--medium-grey);
            font-size: 12px;
            font-weight: 700; 
            margin-top: 24px;
        }
        .input {
            height: 40px;
            width: 100%;
            padding: 8px 16px;
            cursor: pointer;
            border-radius: 4px;
            border: 1px solid rgba(130, 143, 163, 0.25);
            background: transparent;
            color: var(--color);
            font-size: 13px;
            font-weight: 500;
            line-height: 23px;  
            outline: none;
            &:focus {
                border-color: var(--primary);
            }
        }

        .subtasks {
            .subtasks__input__wrapper {
                margin-bottom: 12px;
                display: flex;
                align-items: center;
                gap: 16px;
                img {
                    cursor: pointer;
                }
            }
        }
        .img {
            position: absolute;
            right:20px;
            top: 63px;
        }
        .select {
            width: 100%;
           
        } 
    }
    .subtasks {
        color: var(--medium-grey);
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 16px;
    }
    .checkboxes__wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .checkbox {
            width: 100%;
            display: flex;
           
            align-items: center;
            height: fit-content; 
            gap: 16px;
            padding: 12px;
            cursor: pointer;
            border-radius: 4px;
            background: var(--background-color); 
            .icon__wrapper__checked {
                min-width: 16px;
                min-height: 16px; 
                border-radius: 2px;
                background: var(--primary); 
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.3s;
            }
            .icon__wrapper {
                cursor: pointer;
                min-width: 16px;
                min-height: 16px; 
                border-radius: 2px;
                border: 1px solid rgba(130, 143, 163, 0.25);
                background: var(---background);
                transition: 0.3s; 
                img {
                    transition: 0.3s;
                    display: none;
                }
            }
            .title__checked {
                width: 90%;
                color: var(--medium-grey);
                font-size: 12px;
                text-decoration-line: line-through; 
                word-wrap: break-word;
            }
            .title {
                width: 90%;
                color: var(--color);
                font-size: 12px;
                word-wrap: break-word;
            }
        }
    }
    .dots {
        top: 0;
        right: -10px;
        position: absolute;
        cursor: pointer;
        padding: 0 10px;
    }
    .dropdown {
        top: 20px;
        right: 10px;
        position: absolute;
        
        .edit {
            color: var(--medium-grey);
            font-size: 13px;
            font-weight: 500;
            line-height: 23px; 
            cursor: pointer;
        }
        .delete {
            @extend .edit;
            color: var(--red)
        }
    }
    .btn {
        width: 100%;
        margin-top: 32px;
    }
}