.wrapper {
  
    margin: 24px 24px 24px 0 ;
    
    p {
        color: var(--medium-grey);
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 2.4px; 
        margin-bottom: 24px;
        margin-left: 24px;
    }
}

@media(max-width:800px) {
    .wrapper {
        margin-right: 10px;
    }
    
    
}